<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.HomeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeBefore</servlet-name>
        <servlet-class>controller.HomeBefore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingControl</servlet-name>
        <servlet-class>controller.ShoppingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInControl</servlet-name>
        <servlet-class>controller.LogInControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDAO</servlet-name>
        <servlet-class>dal.AccountDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductControl</servlet-name>
        <servlet-class>controller.DeleteProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>controller.ManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProductControl</servlet-name>
        <servlet-class>controller.ChangeProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductAdmin</servlet-name>
        <servlet-class>controller.SearchProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductForChange</servlet-name>
        <servlet-class>controller.LoadProductForChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>controller.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartLoadData</servlet-name>
        <servlet-class>controller.ShoppingCartLoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderInShoppingCart</servlet-name>
        <servlet-class>controller.DeleteOrderInShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentControl</servlet-name>
        <servlet-class>controller.PaymentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPayment</servlet-name>
        <servlet-class>controller.LoadPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterOrder</servlet-name>
        <servlet-class>controller.AfterOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>controller.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>controller.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoUserLoadData</servlet-name>
        <servlet-class>controller.ChangeInfoUserLoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoUser</servlet-name>
        <servlet-class>controller.ChangeInfoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAdmin</servlet-name>
        <servlet-class>controller.ManageAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreUser</servlet-name>
        <servlet-class>controller.RestoreUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpUserToAdmin</servlet-name>
        <servlet-class>controller.UpUserToAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownAdminToUser</servlet-name>
        <servlet-class>controller.DownAdminToUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageShip</servlet-name>
        <servlet-class>controller.ManageShip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInforUser</servlet-name>
        <servlet-class>controller.ChangeInforUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoUserAfter</servlet-name>
        <servlet-class>controller.ChangeInfoUserAfter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPaymentForgot</servlet-name>
        <servlet-class>controller.CheckPaymentForgot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeBefore</servlet-name>
        <url-pattern>/homeBefore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingControl</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/homeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductControl</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/manageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProductControl</servlet-name>
        <url-pattern>/changeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductAdmin</servlet-name>
        <url-pattern>/searchProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductForChange</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/shoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartLoadData</servlet-name>
        <url-pattern>/shoppingCartLoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderInShoppingCart</servlet-name>
        <url-pattern>/deleteOrderInShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentControl</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPayment</servlet-name>
        <url-pattern>/loadPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterOrder</servlet-name>
        <url-pattern>/afterOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/manageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAdmin</servlet-name>
        <url-pattern>/manageAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreUser</servlet-name>
        <url-pattern>/restoreUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpUserToAdmin</servlet-name>
        <url-pattern>/upUserToAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownAdminToUser</servlet-name>
        <url-pattern>/downAdminToUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageShip</servlet-name>
        <url-pattern>/manageShip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInforUser</servlet-name>
        <url-pattern>/changeInfoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfoUserAfter</servlet-name>
        <url-pattern>/changeInfoUserAfter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPaymentForgot</servlet-name>
        <url-pattern>/checkPaymentForgot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
